%header
  %nav.navbar.navbar-light.border-bottom.mb-4
    .container-fluid.d-flex.flex-column.align-items-center
      = link_to 'Tasky', root_path, class: 'navbar-brand fw-bold text-decoration-none fs-2'

      .d-flex.w-100.justify-content-between
        %ul.navbar-nav.d-flex.flex-row.gap-3
          %li.nav-item
            = link_to 'ホーム', root_path, class: 'nav-link ms-3'

        %ul.navbar-nav.d-flex.flex-row.gap-3
          %li.nav-item
            = link_to '新規登録', '#', class: 'btn btn-outline-success btn-sm'
          %li.nav-item
            = link_to 'ログイン', '#', class: 'btn btn-outline-primary btn-sm me-3'
