.row.justify-content-center
  .col-md-6
    .text-center
      = image_tag @team.logo.variant(:thumb), class: 'rounded-circle mb-3'

      %h2.fw-bold= @team.name

      %h3 タスク一覧
      - if @team.tasks.exists?
        - @team.tasks.default_order.each do |task|
          .card.shadow.mb-2
            .card-title= task.title
            .card-body= h(task.description)
      - else
        %p タスクがありません。
